body {
  background: lightslategray;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

nav {
  border-bottom: 2px solid orange;
  background-color: yellow;
}

ol {
  padding-left: 0;
}

.crumb {
  margin-right: 2em;
  display: inline;
}

a {
  color: orange;
}

a:visited {
  color: crimson;
}

input {
  display: block;
}
h6 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}

ol {
  padding-left: 2em;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: olivedrab;
  border-radius: 30px;
  gap: 10px;
}

.container2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: olivedrab;
  border-radius: 30px;
  gap: 10px;
}

.favButtons {
  margin-top: 5px;
  background-color: yellow;
  border-color: black;
  border-radius: 25px;
  height: 75px;
  width: 300px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 2em;
  text-align: center;
  font-weight: 800;
}
.favButtons:hover {
  background-color: #3e8e41;
}

.favButtons:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#randomRec {
  background-color: olivedrab;
  border-color: black;
  border-radius: 40px;
  height: 75px;
  width: 200px;
  font-weight: 800;
}
